<% @links.each do |link| %>
	<ul>
		<li><%= link_to link.url, link.url %>
			<ul>
				<li><%= link.description %> - <%= link.created_at.to_formatted_s(:long_ordinal) %></li>
			</ul>
		</li>
	</ul>
<% end %>

<%= link_to "New Link", new_link_path %>